wrapper {
    display: block;
    max-width: var(--desktop-size);
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

deck {
    width: calc(100% - 2 * var(--gap));
    margin: 0 var(--gap);
    height: var(--deck-height);
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-gap: var(--gap);
    grid-template-rows: 35% 65%;
    grid-template-columns: auto var(--toolbar-size);
    background-color: var(--bg-lighter);
    border-radius: calc(var(--gap) / 2);
}

panel {
    width: var(--panel-width);
    height: calc(100% - var(--gap));
    background: var(--field-color);
}

scroll-wrap {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slider {
    overflow: hidden;
}

.scroll, scroll {
    width: calc(100% + var(--hscroll));
    height: calc(100% + var(--vscroll));
    overflow: scroll;
    display: block;
}

tabs {
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

tab {
    width: var(--panel-width);
    position: relative;
}

pre {
    margin: 0;
}

table {
    width: 100%;
    table-layout : fixed;
    border-collapse: collapse;
}

th {
    color: var(--bg-lighter);
    background-color: var(--field-dark);
}

tr:nth-child(2n) {
    background-color: var(--bg-lighter)
}

td {
    position: relative;
}

th, td {
    word-wrap: break-word;
    text-align: center;
    padding: calc(var(--gap) / 2);
    vertical-align: top;
}

td.redirect {
    color: red;
    width: 30%;
}

.redirect {
    width: 20%;
}
.redirect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.redirect li {
    cursor: pointer;
    display: block;
    width: calc(50% - var(--gap) / 4);
    box-sizing: border-box;
    float: left;
    color: var(--bg-lighter);
    padding: calc(var(--gap) /2);
    margin-bottom: calc(var(--gap) /2);
    margin-right: calc(var(--gap) /2);
    background-color: var(--bg);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: var(--gap);
}
.redirect li:nth-child(2n){
    margin-right: 0;
}

legend {
    position: absolute;
    bottom: 0.7em;
    padding: calc(var(--gap) / 4);
    right: 0;
    z-index: 8;
    width: 100%;
    box-sizing: border-box;
    background: var(--bg-lighter);
}
legend h3 {
    margin: 0;
    float: left;
}
legend li {
    padding: calc(var(--gap) / 4) calc(var(--gap) * 0.4);
    border-radius: calc(var(--gap) * 0.8);
    margin-right: calc(var(--gap) / 4);
    color: var(--bg-lighter);
}
legend li:last-child {
    margin-right: 0;
}
legend ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li.scheduled-action {
    background-color: #073642;
}
li.server-redirect {
    background-color: #586E75;
}
li.first {
    background-color: #B58900;
}
li.history-push-state {
    background-color: #DC322F;
}
li.js-navigation {
    background-color: #D33682;
}
li.window-open {
    background-color: #6C71C4;
}
li.anchor-link-click {
    background-color: #268BD2;
}
li.frame-load {
    background-color: #2AA198;
}
li.script-load {
    background-color: #859900;
}

td .url {
    max-height: 12em;
    text-overflow: ellipsis;
    overflow: hidden;
}


td .url:after {
    cursor: pointer;
    font-family: 'Material Icons';
    content: '\e14d';
    position: absolute;
    background-color: var(--warning-subtle);
    line-height: 1;
    color: var(--bg-lighter);
    padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
    border-radius: var(--gap);
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

notify {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30em;
    min-height: 3em;
    background-color: var(--bg-lighter);
    border-radius: var(--gap);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    padding: var(--gap);
    display: none;
    z-index: 10;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
}

notify p {
    padding: 0;
    margin-bottom: var(--gap);
}

notify p:last-child {
    margin-bottom: 0;
}

notify.shown {
    display: flex;
}
notify.visible {
    opacity: 1;
}